<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), class: 'ls-form ls-login-form') do |f| %>
  <div class="form-inputs">
    <fieldset>
    <label class="ls-label">
      <%= f.input :email, required: false, autofocus: true, class: 'ls-login-bg-user ls-field-lg', label_html: { class: 'ls-label-text ls-hidden-accessible' }, placeholder: 'Email' %>
    </label>
    <label class="ls-label">
      <%= f.input :password, required: false, class: 'ls-login-bg-password ls-field-lg', label_html: { class: 'ls-label-text ls-hidden-accessible' }, placeholder: 'Senha' %>
    </label>
    </fieldset>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Log in", class: 'ls-btn-primary ls-btn-block ls-btn-lg' %>
  </div>
<% end %>
