<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Congratulations, <%= @customer.name %></h1>
    <p>
      You have just bought <%= @order.product %>,
      this is your confirmation! <br>
    </p>
    <p>Thanks for buying with us and have a great day!</p>
  </body>
</html>
